SOA-Ass02/ex2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:agg="http://news.aggregate.org/"
                  targetNamespace="http://news.aggregate.org/">
    <wsdl:types>
        <xs:schema targetNamespace="http://news.aggregate.org/">
            <xs:element name="item">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="author" type="xs:string" />
                        <xs:element name="title" type="xs:string" />
                        <xs:element name="category" type="xs:string" />
                        <xs:element name="description" type="xs:string" />
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="channel">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="agg:item" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNewsReq">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="feed" type="xs:string" />
                        <xs:element name="author" type="xs:string" minOccurs="0" />
                        <xs:element name="title" type="xs:string" minOccurs="0" />
                        <xs:element name="category" type="xs:string" minOccurs="0" />
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getNewsReqMsg">
        <wsdl:part name="request" element="agg:getNewsReq" />
    </wsdl:message>
    <wsdl:message name="getNewsRespMsg">
        <wsdl:part name="response" element="agg:channel" />
    </wsdl:message>
    <wsdl:portType name="newsFeedAggrPT">
        <wsdl:operation name="getNews">
            <wsdl:input message="agg:getNewsReqMsg" />
            <wsdl:output message="agg:getNewsRespMsg" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="newsFeedAggrBinding" type="agg:newsFeedAggrPT">
        <wsdl:operation name="getNews">
            <soap:operation soapAction="urn:events" style="document"/>
            <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
            <wsdl:input><soap:body use="literal"/></wsdl:input>
            <wsdl:output><soap:body use="literal"/></wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NewsAggr">
        <wsdl:port name="NewsAggrSoap" binding="agg:newsFeedAggrBinding">
            <soap:address location="http://soa3.cs.bgu.ac.il:9876/ex2"/>
        </wsdl:port>
    </wsdl:service>
 </wsdl:definitions>