SOA-Ass02/ex2_sub.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="" targetNamespace="http://news.subscribe.org/" xmlns:sub="http://news.subscribe.org/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ex2_sub/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse1">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://news.subscribe.org/">
        	<xsd:element name="NewOperation">
        		<xsd:complexType>
        			<xsd:sequence>

        				<xsd:element name="in" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="NewOperationResponse">
        		<xsd:complexType>
        			<xsd:sequence>

        				<xsd:element name="out" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element></xsd:schema>
    </wsdl:types>
  <wsdl:message name="NewOperationRequest">
  	<wsdl:part element="tns:NewOperation" name="parameters" />
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse1">
  	<wsdl:part name="parameters" element="tns:NewOperationResponse1"></wsdl:part>
  </wsdl:message>


  <wsdl:message name="NewOperationRequest1">
  	<wsdl:part name="parameters" element="sub:NewOperation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse2">
  	<wsdl:part name="parameters" element="sub:NewOperationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NewsSubSoapPT">
  	<wsdl:operation name="NewOperation">
  		<wsdl:input message="sub:NewOperationRequest1"></wsdl:input>
  		<wsdl:output message="sub:NewOperationResponse2"></wsdl:output>
  	</wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewsSubSoapBinding" type="sub:NewsSubSoapPT"></wsdl:binding>
  <wsdl:service name="NewsSub">    <wsdl:port name="NewsSubSoap" binding="sub:NewsSubSoapBinding">    	<soap:address location="http://www.example.org/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
