trunk/Ass02-Sub/ex2_sub.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sub="http://www.example.org/ex2_sub/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ex2_sub" targetNamespace="http://www.example.org/ex2_sub/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ex2_sub/">
      <xsd:element name="putElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="putElementResponse1">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="putElementRequest">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="name" minOccurs="1"
      				maxOccurs="1">
      				<xsd:complexType></xsd:complexType>
      			</xsd:element>
      			<xsd:element name="url" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="in" type="xsd:string"></xsd:element>
            <xsd:element name="postCollectionRequest" type="xsd:string"></xsd:element>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="putElementRequest">
  	<wsdl:part element="sub:putElementRequest" name="request" />
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="sub:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="putElementResponse1">
  	<wsdl:part name="responseID" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="postCollectionRequest">
  	<wsdl:part name="request" element="sub:postCollectionRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="postCollectionResponse1">
  	<wsdl:part name="responseID" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ex2_sub">
        <wsdl:operation name="putElement">
        	<wsdl:input message="sub:putElementRequest"></wsdl:input>
        	<wsdl:output message="sub:putElementResponse1"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="postCollection">
        	<wsdl:input message="sub:postCollectionRequest"></wsdl:input>
        	<wsdl:output message="sub:postCollectionResponse1"></wsdl:output>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ex2_subSOAP" type="sub:ex2_sub">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="putElement">
      <soap:operation soapAction="http://www.example.org/ex2_sub/putElement"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ex2_sub">
    <wsdl:port binding="sub:ex2_subSOAP" name="ex2_subSOAP">
      <soap:address location="http://soa3.cs.bgu.ac.il:17171/ex2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
