Ass02-Sub/resources/ex2_sub.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ex2_sub" targetNamespace="http://news.subscription.org/" xmlns:sub="http://news.subscription.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://news.subscription.org/">
      <xsd:element name="putElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="putElementResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="putElementRequest">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string">
      			</xsd:element>
      			<xsd:element maxOccurs="unbounded" minOccurs="1" name="url" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="in" type="xsd:string"/>
      <xsd:element name="postCollectionRequest">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      			<xsd:element maxOccurs="unbounded" minOccurs="1" name="url" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteElement">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteCollection">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteElementRequest">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteCollectionRequest">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
  </xsd:schema>
  </wsdl:types>
  <wsdl:message name="deleteElementRequest">
    <wsdl:part name="request" element="sub:deleteElementRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCollectionRequest">
    <wsdl:part name="request" element="sub:deleteCollectionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="putElementRequest">
    <wsdl:part name="request" element="sub:putElementRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteElementResponse1">
    <wsdl:part name="responseID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCollectionResponse1">
    <wsdl:part name="responseID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postCollectionResponse1">
    <wsdl:part name="responseID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="putElementResponse">
    <wsdl:part name="responseID" element="sub:putElementResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postCollectionRequest">
    <wsdl:part name="request" element="sub:postCollectionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ex2_sub">
    <wsdl:operation name="putElement">
      <wsdl:input message="sub:putElementRequest">
    </wsdl:input>
      <wsdl:output message="sub:putElementResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postCollection">
      <wsdl:input message="sub:postCollectionRequest">
    </wsdl:input>
      <wsdl:output message="sub:postCollectionResponse1">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteElement">
      <wsdl:input message="sub:deleteElementRequest">
    </wsdl:input>
      <wsdl:output message="sub:deleteElementResponse1">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCollection">
      <wsdl:input message="sub:deleteCollectionRequest">
    </wsdl:input>
      <wsdl:output message="sub:deleteCollectionResponse1">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ex2_subSOAP" type="sub:ex2_sub">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="putElement">
      <soap:operation soapAction="http://www.example.org/ex2_sub/putElement"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ex2_sub">
    <wsdl:port name="ex2_subSOAP" binding="sub:ex2_subSOAP">
      <soap:address location="http://127.0.0.1:9877/axis2/services/ex2_sub/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
